* {
  margin: 0;
  padding: 0;
}

#header {
  background-color: black;
  display: block;
  width: 100vw;
  height: 7.5vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#headerNav {
  float: right;
}


#headerNav ul li {
  float: left;
  list-style: none;
  text-decoration: none;
  color: white;
}